


body {
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-family: 'Merriweather', serif;
}

h1 {

  font-size: 5.625rem;
  color: #66BFBF;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
}
.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
 font-weight: normal;
 line-height: 2;
}
.joystick {
  width: 25%;

  margin-right: 30px;


}
.coding {
  width: 25%;

  margin-left: 30px;

}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

.middle-container {

text-align: center;
position: relative;

}

.bottom-container {
text-align: center;
position: relative;
background-color: #66BFBF;
margin-top: 60px;
padding: 50px 0 20px;
}
.top-cloud {
  position: absolute;
  right: 90px;
  top: -50px;

}
.bottom-cloud {
  position: absolute;
  left: 50px;
  bottom: 80px;
}
.footer-link {
  color: #11999E;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 70%;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover {
  color: #EAF6F6;
}
.copyr {
  font-size: 0.75rem;
  color: #EAF6F6;
  padding: 20px 0;
}
